files:
    "/root/.ssh/nova_key":
        mode: "0600"
        owner: root
        group: root
        content: |
            -----BEGIN OPENSSH PRIVATE KEY-----
            b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
            NhAAAAAwEAAQAAAQEAv+2CXe6Ld/V54HpodlIZt6i7C2wPFvNe3jB2aEHOwqnQZUIsFQed
            G9W0Zxnp6TvbxT/vQt6GZAILvplkSOYKVAsUds3B+BlV6dGv+IJkKVwz6h0J8DymQGtqgE
            SiGxSwtzgSWx1WCN6Xk57f5feXi3gy8lSVM1qmPvs05sGEJsKWqFf7+EbNA6oJCgYpNpz8
            Wf1wgaz5JNvzTKCbU1kHBZXf+aIGjCEOvzxJoHdvq9HdwimqstuTMgR4N+O59cR5gizjqg
            zhhnxH/39Qwcn77WIMuZcU69TOTRk6EtOrv0R1WGUktRJqtVHbhFJrolTDp3uzJEXU5+g5
            CarfJzKwYwAAA9DKAGpjygBqYwAAAAdzc2gtcnNhAAABAQC/7YJd7ot39Xngemh2Uhm3qL
            sLbA8W817eMHZoQc7CqdBlQiwVB50b1bRnGenpO9vFP+9C3oZkAgu+mWRI5gpUCxR2zcH4
            GVXp0a/4gmQpXDPqHQnwPKZAa2qARKIbFLC3OBJbHVYI3peTnt/l95eLeDLyVJUzWqY++z
            TmwYQmwpaoV/v4Rs0DqgkKBik2nPxZ/XCBrPkk2/NMoJtTWQcFld/5ogaMIQ6/PEmgd2+r
            0d3CKaqy25MyBHg347n1xHmCLOOqDOGGfEf/f1DByfvtYgy5lxTr1M5NGToS06u/RHVYZS
            S1Emq1UduEUmuiVMOne7MkRdTn6DkJqt8nMrBjAAAAAwEAAQAAAQA3gq9hEZx/Dp24gk7y
            Yd6UUxX+QLvAjJVUuDmW/+mYPdtLXi83yeLz6QRriYAw+CIhU9OUyJ2gEUNqVh0+RGKaWj
            YKAormghVqMj6uJrBnkgZl4Q490JzZJvg/rxofsQVHiM0uUzbOC+tVQ+9IKStIqHQ7yKD6
            oG5S6v8q+q+JMeBy3pGoI931AB1JGRElQ9fI+LGB8XIJZseMjccOZFSqJ0H2SzW/5wSHLa
            q8rHr6SbVj4havTfO7QCDn2I//tyzLYoB5B5vCD9+w2SMwdYf7cRk1GdOmP0CdXEx2VlO/
            qlNppONQxv94akXriBebjMRUQe6Jss+z7peN6ScgRGnZAAAAgDB0CUCOwrsuvxCkqYiHY7
            TLtYcfZ61kTp0cGQM2kLodxYthhwu2ynHVQvOjiAr+omcReif8yejNdt6R5adceEegijqG
            GSnsqx6dSu6qjYfVVWTttLS9vFD79ckbX2sHmfxGnGRy4M1iPHoPwfDVpt8YX+AQTp1tJ5
            FVIcMi8rpZAAAAgQDjnhQgdWm9EUhMCS1l9CxENMZla4F9DGfhm91M2LjUEUZJ4nt9f8vw
            EZfdxloVJ9sjU/IE5RqGGZACaKTmmect7EE0KcaOrj/pqsJUu5GIDmWVFgpbrOt6Ps98LY
            dsMS7dbIpv0Iis1f73BUd0qOnjDcuXsQVyiwKq94e/oz5N3wAAAIEA19woDkGEGWAkM90l
            f6i+9P2tbXQMZRxmR82ewIFOTMVJAemKICXqVpNbi7v7BuDD9vtivJGopVsRGMvc2BUC5t
            Nk+15mwOuboJf1UO0oY29cWU1sb1d6xdUzZGzwKlnpMwHgxW2dy1T5pH7ahJzz3fPxWxuA
            HLDKOfbYoBVxpf0AAAAaY2hyaXNuZWFsQENocmlzLWlNYWMubG9jYWwB
            -----END OPENSSH PRIVATE KEY-----

commands:
    01_add_ssh_config:
        command: printf "Host bitbucket.org\r\n  StrictHostKeyChecking no\r\n  User git\r\n  IdentityFile ~/.ssh/nova_key" > /root/.ssh/config
