files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/01_create_cache.sh:
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan config:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan route:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan view:cache
        chmod 0777 /var/www/html/storage/framework/views/*
        chmod 0777 /var/www/html/storage/logs/*

  /opt/elasticbeanstalk/hooks/configdeploy/post/01_create_cache.sh:
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan config:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan route:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan view:cache
