files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/01_create_cache.sh:
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan lighthouse:clear-cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan config:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan route:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan view:cache
        chmod -R 0777 /var/app/current/storage/framework/views
        touch /var/app/current/storage/logs/laravel.log
        chmod -R 0777 /var/app/current/storage/logs

  /opt/elasticbeanstalk/hooks/configdeploy/post/01_create_cache.sh:
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan lighthouse:clear-cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan config:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan route:cache
        source /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/app/current/artisan view:cache
        chmod -R 0777 /var/app/current/storage/framework/views
        touch /var/app/current/storage/logs/laravel.log
        chmod -R 0777 /var/app/current/storage/logs
